doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Access Denied
    link(rel="stylesheet", href="/css/accessDenied.css")
  body
    .container
      h1 Access Denied
      p #{message}
      a(href="/login") Go back to Home
