head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width,initial-scale=1")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
  link(rel="stylesheet", href="/css/orderStock.css")
  //- Todo: Render the title Dynamically
  title MWF Ltd - Manager Dashboard
  link(rel="stylesheet", href="/css/manager.css")
body   
  .container
    //- Todo: Include the sidebar
    include sideBar
    //  Main Content 
    .main-content
      //  Header 
      .header
        h1 Order Stock
        .user-info
          div
            h3 Tee Mwangi
            p Manager
          img(src="/imgs/Beauty.png", alt="User")
      block content
      //- Todo: Research addition of multiple blocks

