doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title MWF Ltd - Manager Dashboard
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
    link(rel="stylesheet", href="/css/manager.css")
    // Chart.js CDN
    script(src="https://cdn.jsdelivr.net/npm/chart.js")

  body
    .container
      // Sidebar
      .sidebar
        .logo
          h2 Mayondo Wood & Furniture Ltd
        ul.nav-links
          li
            a(href="/manager")
              i.fas.fa-home
              | Dashboard
          li
            a(href="/sales")
              i.fas.fa-shopping-cart
              | Record Sales
          li
            a(href="/salesList")
              i.fas.fa-list
              | Sales List
          li
            a(href="/stock")
              i.fas.fa-boxes
              | Record Stock
          li
            a(href="/stockList")
              i.fas.fa-clipboard-list
              | Product List
          li
            a(href="/orderStock")
              i.fas.fa-truck-loading
              | Order Stock
          li
            a(href="/orderList")
              i.fas.fa-truck-loading
              | Order List
          li
            a(href="/schedule")
              i.fas.fa-calendar-plus
              | Create Schedule
          li
            a(href="/scheduleList" class="active")
              i.fas.fa-table
              | Schedule List    
          li
            a(href="/user")
              i.fas.fa-users
              | Users
          li.logout
            a(href="/logout")
              i.fas.fa-sign-out-alt
              | Logout

      // Main Content
      .main-content
        // Header
        .header
          h1 Dashboard
          .user-info
            div
              h3 #{currentUser.firstName} #{currentUser.lastName}
              p #{currentUser.role.charAt(0).toUpperCase() + currentUser.role.slice(1)}
            img(src="/imgs/Beauty.png", alt="User")

        // Key Metrics
        .dashboard-widgets
          .widget
            .widget-header
              h3 Today's Sales
              i.fas.fa-shopping-cart
            .kpi-value#salesAmount Loading...
          .widget
            .widget-header
              h3 Total Stock
              i.fas.fa-boxes
            .kpi-value#stockValue Loading...
          .widget
            .widget-header
              h3 Low Stock Items
              i.fas.fa-exclamation-triangle
            .kpi-value#lowStockItems Loading...

        // Charts Section
        .charts
          .chart-container
            h3 Weekly Sales
            canvas#salesChart
          .chart-container
            h3 Stock by Category
            canvas#categoryChart

        // Quick Actions
        .widget
          .widget-header
            h3 Quick Actions
          .quick-actions
            .action-btn
              a(href="/stock")
                i.fas.fa-plus-circle
                span Add New Product
            .action-btn
              a(href="/salesList")
                i.fas.fa-clipboard-list
                span Generate Report
            .action-btn
              a(href="/orderStock")
                i.fas.fa-truck-loading
                span Order Stock

    // JS
    script(src="/javascript/manager.js")
