extends layout
block content
  //  Key Metrics 
  .dashboard-widgets
    .widget
      .widget-header
        h3 Today's Sales
        i.fas.fa-shopping-cart
      .kpi-value $12,458
      .kpi-change
        i.fas.fa-arrow-up
        |  12.5% from yesterday

    .widget
      .widget-header
        h3 Inventory Value
        i.fas.fa-boxes
      .kpi-value $187,920
      .kpi-change
        i.fas.fa-arrow-down
        |  3.2% from last week

    .widget
      .widget-header
        h3 Pending Orders
        i.fas.fa-clipboard-list
      .kpi-value 24
      .kpi-change.negative
        i.fas.fa-arrow-up
        |  4 more than yesterday

    .widget
      .widget-header
        h3 Low Stock Items
        i.fas.fa-exclamation-triangle
      .kpi-value 8
      .kpi-change.negative
        i.fas.fa-arrow-up
        |  Needs immediate attention
  //  Charts 
  .charts
    .chart-container
      .widget-header
        h3 Sales Overview
      canvas#salesChart
    .chart-container
      .widget-header
        h3 Product Categories
      canvas#categoryChart
  //  Tables 
  .data-tables
    .chart-container
      .widget-header
        h3 Recent Transactions
        button.btn.btn-primary View All
      table.data-table
        thead
          tr
            th Customer
            th Product
            th Amount
            th Status
        tbody
          tr
            td BuildIT Constructions
            td Timber (Hardwood)
            td $2,450
            td
              span.status.high Completed
          tr
            td Home Furniture Ltd
            td Office Desks
            td $3,850
            td
              span.status.medium Processing
          tr
            td City Wood Dealers
            td Softwood Planks
            td $1,230
            td
              span.status.high Completed
          tr
            td Designer Homes
            td Dining Tables
            td $4,200
            td
              span.status.low Pending
          tr
            td QuickBuild Ltd
            td Poles & Beams
            td $1,875
            td
              span.status.high Completed
    .chart-container
      .widget-header
        h3 Low Stock Alert
        button.btn.btn-accent Order Now
      table.data-table
        thead
          tr
            th Product
            th Current Stock
            th Required
            th Action
        tbody
          tr
            td Mahogany Planks
            td 42 units
            td 200 units
            td
              button.btn.btn-primary Order
          tr
            td Oak Timber
            td 35 units
            td 150 units
            td
              button.btn.btn-primary Order
          tr
            td Chair Legs
            td 120 units
            td 300 units
            td
              button.btn.btn-primary Order
          tr
            td Drawer Handles
            td 85 units
            td 200 units
            td
              button.btn.btn-primary Order
          tr
            td 4x4 Beams
            td 28 units
            td 100 units
            td
              button.btn.btn-primary Order
  //  Quick Actions 
  .widget
    .widget-header
      h3 Quick Actions
    .quick-actions
      .action-btn
        i.fas.fa-plus-circle
        span Add New Product
      .action-btn
        i.fas.fa-clipboard-list
        span Generate Report
      .action-btn
        i.fas.fa-truck-loading
        span Order Stock
  script(src="/javascript/manager.js")