meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title MWF Ltd - Order Stock
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
link(rel="stylesheet", href="/css/orderStock.css")
.container
  //  Sidebar 
  .sidebar
    .logo
      h2 Mayondo Wood & Furniture Ltd
    ul.nav-links
      li
        a(href="/manager")
          i.fas.fa-home
          |  Dashboard
      li
        a(href="/stock")
          i.fas.fa-boxes
          |  Record Stock
      li.active
        a(href="/orderStock/new")
          i.fas.fa-truck-loading
          |  Order Stock
      li
        a(href="/user")
          i.fas.fa-users
          |  Users
      li
        a(href="/reports")
          i.fas.fa-chart-bar
          |  Reports
  //  Main Content 
  .main-content
    //  Header 
    .header
      h1 Order Stock
      .user-info
        div
          h3 Tee Mwangi
          p Manager
        img(src="/imgs/Beauty.png", alt="User")
    //  Form Container 
    .form-container
      .form-header
        h2 Create Purchase Order
        p Order new stock from your suppliers
      form#orderForm((action="/orderStock", method="POST", ))
        //  Supplier Information Section 
        .form-section
          h3
            i.fas.fa-truck
            |  Supplier Information
          .form-row
            .form-group
              label.required(for="supplier") Select Supplier
              select#supplier(name="supplier", type="text" required)
                option(value) Select a Supplier
                option(value="1") Timberland Suppliers
                option(value="2") Premium Woods Ltd
                option(value="3") Forest Products Co.
                option(value="4") Hardwood Importers
                option(value="5") Furniture Components Inc.
            .form-group
              label.required(for="orderDate") Order Date
              input#orderDate(type="date", name="orderDate", required)
          .form-row
            .form-group
              label(for="expectedDate") Expected Delivery Date
              input#expectedDate(type="date", name="expectedDate")
            .form-group
              label.required(for="paymentTerms") Payment Terms
              select#paymentTerms(name="paymentTerms", required)
                option(value) Select Terms
                option(value="net15") 15 Days
                option(value="net30", selected) 30 Days
                option(value="cod") Cash on Delivery
                option(value="prepaid") Prepaid
          //  Supplier Details (displayed when a supplier is selected) 
          .supplier-info#supplierDetails(style="display: none;")
            h4 Supplier Details
            .supplier-details
              .supplier-detail
                label Contact Person
                span#supplierContact -
              .supplier-detail
                label Phone Number
                span#supplierPhone -
              .supplier-detail
                label Email Address
                span#supplierEmail -
              .supplier-detail
                label Address
                span#supplierAddress -
        //  Order Items Section 
        .form-section
          h3
            i.fas.fa-box
            |  Order Items
          table.order-items
            thead
              tr
                th(width="40%") Product
                th(width="15%") Quantity
                th(width="15%") Unit Cost ($)
                th(width="20%") Total ($)
                th(width="10%") Actions
            tbody#itemsTableBody
              tr
                td
                  select.product-select(name="product[]", required)
                    option(value) Select Product
                    option(value="1") Mahogany Timber Plank
                    option(value="2") Oak Wood Beam
                    option(value="3") Teak Hardwood
                    option(value="4") Pine Wood
                    option(value="5") Plywood Sheet
                td
                  input(type="number", name="quantity[]", min="1", value="1", required)
                td
                  input(type="number", name="cost[]", step="0.01", min="0", value="0.00", required)
                td $0.00
                td.item-actions
                  button.btn-remove(type="button")
                    i.fas.fa-trash
          button#addItemBtn.btn.btn-outline(type="button", style="margin-top: 15px;")
            i.fas.fa-plus
            |  Add Item

        //  Shipping Information 
        .form-section
          h3
            i.fas.fa-shipping-fast
            |  Shipping Information
          .form-row
            .form-group
              label(for="shippingMethod") Shipping Method
              select#shippingMethod(name="shippingMethod")
                option(value) Select Method
                option(value="pickup") Supplier Pickup
                option(value="delivery", selected) Supplier Delivery
                option(value="courier") Courier Service
                option(value="freight") Freight Service
            .form-group
              label(for="shippingCost") Shipping Cost ($)
              input#shippingCost(type="number", name="shippingCost", step="0.01", min="0", value="0.00")
          .form-group
            label(for="notes") Order Notes
            textarea#notes(name="notes", placeholder="Any special instructions for this order...")
        //  Summary Section 
        .order-summary
          .summary-row
            span Subtotal:
            span $0.00
          .summary-row
            span Shipping Cost:
            span#shippingDisplay $0.00
          .summary-row.total
            span Order Total:
            span#orderTotal $0.00
        //  Form Actions 
        .form-actions
          button.btn.btn-outline(type="button")
            i.fas.fa-times
            |  Cancel

          button.btn.btn-primary(type="button")
            i.fas.fa-print
            |  Print PO

          button.btn.btn-success(type="submit")
            i.fas.fa-paper-plane
            |  Submit Order

script(src="/javascript/orderStock.js")