meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title MWF Ltd - Sales Attendant Dashboard
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
script(src="https://cdn.jsdelivr.net/npm/chart.js")
link(rel="stylesheet", href="/css/salesAgent.css")

.container
  // Sidebar
  .sidebar
    .logo
      h2 Mayondo Wood & Furniture Ltd
    ul.nav-links
      li.active
        a(href="/salesAgent")
          i.fas.fa-home
          | Dashboard
      li
        a(href="/stockList")
          i.fas.fa-list
          | Product List   
      li
        a(href="/sales")
          i.fas.fa-list
          | Record Sales 
      li
        a(href="/salesList")
          i.fas.fa-list
          | Sales List            
      li
        a(href="/invoice")
          i.fas.fa-file-invoice-dollar
          | Invoices
      li
        a(href="/customer")
          i.fas.fa-user-plus
          | Add Customer

  // Main Content
  .main-content
    // Header
    .header
      h1 Dashboard
      .user-info
        div
          h3 Mugerwa Rollins
          p Sales Attendant
        img(src="/imgs/salesAgent.jpg", alt="User")

    // Product Search
    .product-search
      .search-header
        h3 Product Lookup
      .search-box
        input(type="text", placeholder="Search products by name, code, or category...")
        button
          i.fas.fa-search
          | Search

    // Key Metrics
    .dashboard-widgets
      .widget
        .widget-header
          h3 Today's Sales
          i.fas.fa-shopping-cart
        .kpi-value#todaysSales Loading...
        .kpi-change#todaysSalesChange

      .widget
        .widget-header
          h3 Transactions
          i.fas.fa-receipt
        .kpi-value#transactions Loading...
        .kpi-change#transactionsChange

      .widget
        .widget-header
          h3 Customers
          i.fas.fa-chart-line
        .kpi-value#customers Loading...
        .kpi-change#customersChange

      .widget
        .widget-header
          h3 Issued Invoices
          i.fas.fa-smile
        .kpi-value#invoices Loading...
        .kpi-change#invoicesChange

    // Customer Highlights
    .customer-highlights#customerHighlights
      // JS will inject customer cards here dynamically

    // Charts
    .charts
      .chart-container
        .widget-header
          h3 Sales Performance
        canvas#salesChart
      .chart-container
        .widget-header
          h3 Product Categories
        canvas#categoryChart

    // Tables
    .data-tables
      .chart-container
        .widget-header
          h3 Recent Transactions
          button.btn.btn-primary View All
        table.data-table
          thead
            tr
              th Customer
              th Amount
              th Time
              th Status
          tbody#recentTransactions
            tr
              td(colspan="4") Loading...

      .chart-container
        .widget-header
          h3 Top Selling Products
          button.btn.btn-primary View Report
        table.data-table
          thead
            tr
              th Product
              th Sold
              th Revenue
          tbody#topProducts
            tr
              td(colspan="3") Loading...

    // Quick Actions
    .widget
      .widget-header
        h3 Quick Actions
      .quick-actions
        .action-btn
          i.fas.fa-cash-register
          span New Sale
        .action-btn
          i.fas.fa-file-invoice
          span Create Invoice
        .action-btn
          i.fas.fa-user-plus
          span Add Customer
        .action-btn
          i.fas.fa-box
          span Check Stock

// Load frontend JS
script(src="/javascript/salesAgent.js")
