//  Sidebar 
.sidebar
    .logo
    h2 Mayondo Wood & Furniture Ltd
    ul.nav-links
        li
            a(href="/manager")
                i.fas.fa-home
                |  Dashboard
        li
            a(href="/stock")
                i.fas.fa-boxes
                |  Record Stock
        li.active
            a(href="/orderStock/new")
                i.fas.fa-truck-loading
                |  Order Stock
        li
            a(href="/user")
                i.fas.fa-users
                |  Users
        li
            a(href="/reports")
                i.fas.fa-chart-bar
                |  Reports
